body
{
    background-color: rgb(253, 237, 236);
}
h1
{
    text-align: center;
}
.card {
    border: 2px solid #887f7f;
    border-radius: 8px;
    padding: 12px;
    margin: 12px;
    width: 250px;
    background-color: #f0f0f0;
    position: relative;
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 6px black solid ;

}

.acciones {
    position: absolute;
    top: 8px;
    right: 10px;
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.editable:hover {
    background-color: #7a7a80;
    cursor: pointer;
}

.input-temporal {
    display: block;
    width: 90%;
    margin: 6px auto;
}

.form-temp {
    padding: 10px;
    background-color: #fffbe0;
    border: 1px dashed #aaa;
    margin: 12px;
    border-radius: 6px;
}
#btn_agregar
{
    font-size: 30px;
    color: rgb(2, 153, 199);
    cursor: pointer;
}
.fa-regular fa-pen-to-square
{
    cursor: pointer;
}
.fa-solid fa-trash-can
{
    color:black ;
    cursor: pointer;
}